* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(10, 10, 10);
}

body h1 {
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 360px));
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.card {
    background-color: rgb(20, 20, 20);
    grid-column: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey;
}

img {
    width: 100%;
    max-width: 360px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid white;
}

.card h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.card p {
    text-align: justify;
    text-indent: 20px;
    font-family: sans-serif;
    margin: 10px;
    font-size: 20px;
}

footer {
    height: 2vh;
    width: 100%;
    border-top: 1px solid white;
    font-family: sans-serif;
    padding-block: 30px;
    text-align: center;
}